<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style2_2.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SW Metaverse F1</title>
</head>
<body>
    <div class="floor_1">
        <div id="car1"><img class="car_img" src="src/car1.png"/></div>
        <p>.</p>
    </div>
    <h1>dkaf</h1>
    <div id="test_1">dasdfaasdf</div>
    <img src="src/car2.png"/>


</body>
</html>